body {
    font-family: sans-serif;
}

li:hover {
    background-color: gray;
}

img { 
    max-width: 300px; 
    max-height: 300px;
}

.card {
	border: 1px solid grey;
	margin: 5px auto;
	padding-bottom: 5px;
	padding-top: 5px;
}